# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteCond %{REQUEST_FILENAME} !-d
#     # and if the requested filename is not a regular file that exists,
#     RewriteCond %{REQUEST_FILENAME} !-f
#     # and if the requested filename is not a symbolic link,
#     RewriteCond %{REQUEST_FILENAME} !-l
#     # then rewrite the URL in the following way:
#     # Take the whole request filename and provide it as the value of a
#     # "url" query parameter to index.php. Append any query string from
#     # the original URL as further query parameters (QSA), and stop
#     # processing this .htaccess file (L).
#     RewriteRule ^(public)($|/) - [L,NC]
#     RewriteRule ^(.+)$ index.php?module=$1&action=$2&$3 [QSA,L]
#     RewriteRule ^(.*)/(.*)$ index.php?module=$1&action=$2 [L,QSA]
#     RewriteRule ^(.*)$ index.php?module=$1&action=index [L,QSA]


# </IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /grupo14
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(public)($|/) - [L,NC]
    RewriteRule ^(.*)/(.*)/(.*)$ index.php?module=$1&action=$2&$3 [L,QSA]
    RewriteRule ^(.*)/(.*)$ index.php?module=$1&action=$2 [L,QSA]
    RewriteRule ^(.*)$ index.php?module=$1&action=index [L,QSA]

</IfModule>